/* components/ParticlesBackground.module.css */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #ffffff; /* Adjust background color */
  overflow: hidden; /* Ensure particles stay within the bounds */
}

.particle {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  position: absolute;
  background-color: #eeeeee; /* Adjust particle color */
  width: 15px;
  height: 15px;
  border-radius: 50%; /* Makes particles round */
  /*animation: float 5s infinite linear; /* Adjust animation properties */
  transition: transform 0.1s ease-out; /* Smooth parallax effect */
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40vh);
  }
}
