.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  border-radius: 15px;
}

.logo a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;  /* Remove default padding */
  margin: 0;   /* Remove default margin */
}

.navLinks li {
  position: relative;
  padding: 0;  /* Remove default padding */
  margin: 0;   /* Remove default margin */
}

.navLinks li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;  /* Adjust padding to control spacing */
  display: block;      /* Ensure full area is clickable */
}

.navLinks li a:hover {
  color: #ddd;
}

.dropdown {
  display: inline-block;
  vertical-align: middle;  /* Ensure dropdown is vertically aligned */
}

.dropbtn {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 15px;  /* Adjust padding to match links */
  display: block;  /* Ensure full area is clickable */
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0;  /* Remove default padding */
  margin: 0;   /* Remove default margin */
  border-radius: 15px;
}

.dropdownContent li {
  display: block;
  padding: 0;  /* Remove default padding */
  margin: 0;   /* Remove default margin */
}

.dropdownContent li a {
  color: #fff;
  padding: 10px 15px;  /* Adjust padding to control spacing */
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 15px;
}

.dropdownContent li a:hover {
  background-color: #575757;
  /*opacity: 0.125;*/
}

.dropdown:hover .dropdownContent {
  display: block;
}

.navbar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.navbar-item {
  margin: 10px 0;
}

.navbar-item a {
  color: white;
  text-decoration: none;
}

@media (min-width: 600px) {
  .navbar-list {
    flex-direction: row;
    justify-content: center;
  }

  .navbar-item {
    margin: 0 20px;
  }
}

.subscriptionForm {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.emailInput {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.subscribeButton {
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribeButton:hover {
  background-color: #0056b3;
}

/* navbar css for mobile */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px;
}

@media (max-width: 1000px) {
  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navLinks.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .subscriptionForm {
    display: none;
  }
}

