.postBox {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.postBox:hover {
  transform: scale(1.05);
}

.postImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.postBox h2, .postBox p {
  text-decoration: none;
  color: inherit;
}
