.container {
  padding: 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.sectionBox {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /*border: 2px solid #ffcc00;*/
  width: calc(33.333% - 90px); /* Adjust width to account for gap */
  box-sizing: border-box;
}
