/* styles/Instagram.module.css */
.instagramPosts {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.instagramTitle {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.postContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ensure 3 posts per row */
    gap: 20px;
}

.post {
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    padding: 5px;
    border-radius: 10px;
}

.postLink {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
    display: block;
}

.postLink:hover {
    transform: translateY(-3px);
}

.mediaContainer {
    position: relative;
}

.postMedia {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Ensure images and videos maintain aspect ratio */
    border-radius: 5px;
}

.carouselContainer {
    position: relative;
    overflow: hidden; /* Hide overflowing carousel items */
}

.carouselList {
    display: flex; /* Display carousel items in a row */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Ensure each carousel item snaps to the container's scroll snap points */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
    scrollbar-width: none; /* Hide scrollbar for modern browsers */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
}

.carouselItem {
    flex: 0 0 100%; /* Ensure each carousel item takes full width */
    scroll-snap-align: start; /* Ensure each carousel item starts at the snap point */
    width: 100%; /* Ensure each carousel item takes full width */
    box-sizing: border-box;
}

.carouselImage {
    width: 100%; /* Ensure images fill the carousel item */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure images maintain aspect ratio and cover the container */
}

.carouselVideo {
    width: 100%; /* Ensure videos fill the carousel item */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure videos maintain aspect ratio and cover the container */
}

.carouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    z-index: 1;
}

.carouselButton:first-of-type {
    left: 10px;
}

.carouselButton:last-of-type {
    right: 10px;
}
