/* styles/Instagram.module.css */
.instagramPosts {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.instagramTitle {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.postContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.post {
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

.postLink {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
}

.postLink:hover {
    transform: translateY(-3px);
}

.postMedia {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Ensure images and videos maintain aspect ratio */
}

.carouselContainer {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Hide scrollbar for modern browsers */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    max-width: 100%; /* Ensure the carousel container does not exceed its parent's width */
}

.carouselItem {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 10px; /* Adjust spacing between carousel items */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.carouselImage {
    width: auto; /* Allow images to adjust width based on their aspect ratio */
    max-height: 300px; /* Limit the height of carousel images */
    object-fit: cover; /* Ensure images maintain aspect ratio and cover the container */
}

.carouselVideo {
    width: auto; /* Allow videos to adjust width based on their aspect ratio */
    max-height: 300px; /* Limit the height of carousel videos */
}
