/* Add a CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}


:root {
  --primary-color: #333333;
  --secondary-color: #2ecc71;
  --text-color: #333;
  --background-color: #f5f5f5;
  --header-height: 60px;
}


.titleBox {
	background: #FBFBFB;
	max-width: fit-content;
	display: inline-block;
	padding: 1rem;
	border-radius: 1rem;
	
	/*animation*/
	animation-duration: 3.0s;
	animation-iteration-count: infinite;
	animation-name: pulsingTitleBox;
	animation-timing-function: ease-in-out;
}
html {
	scroll-behavior: smooth;
}
@keyframes pulsingTitleBox {
	0% {
		transform: scale(1.0);
	}
	
	50% {
		transform: scale(1.025);
	}
	
	100% {
		transform: scale(1.0);
	}
}
.titleImage{
  background: #EED2C7 
}
.text-center{
text-align: center
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}
/* posts */
.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.post-box {
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
